* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  
  background: #f9f9f9;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  padding: 10px 0;
}

.container {
  width: 48%;
  height: 1140px;
  background: white;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header {
  background-color: #827561;
  color: white;
  padding: 20px;
}

header .heading {
  padding: 3px 0px 0px 50px;

}

header .heading pre {
  font-size: 11px;


}

header .heading h1 {
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header .heading span {
  color: #f1c40f;
}



.navbar {
  background: linear-gradient(to bottom, #5c504a, #4a403b);
  display: flex;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
  margin: 08px auto;
  width: 55%;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  opacity: 0.8;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 14px 20px;
  font-weight: bold;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}




/*.......................................................Section......................*/


.section {
  background-image: url("https://t4.ftcdn.net/jpg/05/10/86/29/360_F_510862902_K5o4Sz7odYbuFs6FLKqTH3L79eTDtjYc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  align-items: center;
  border-radius: 15px 0px 15px 15px;
  margin-bottom: -90px;
}

.section-text {
  width: 30%;
  height: 100%;
  opacity: 0.8;
  padding: 20px 30px;
  background-color: #665d56;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.section-text h2 {
  font-size: 28px;
  margin-bottom: 30px;
}

.section-text p {
  font-size: 16px;
  margin-bottom: 25px;
}

.section-text .button {
  text-align: end;
}

.btn {
  display: inline-block;
  background-color: #d36606;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
}

.btn.small {
  padding: 6px 12px;
  margin-top: 10px;
  font-size: 14px;
}


/* ...............Block................*/


.blocks {
  display: flex;
  justify-content: space-around;
  padding: 90px 25px 10px 25px;
  gap: 25px;
}
.block li{

  display: inline ;
}
.emoji {
  font-size: 3.2em;
}

.block {
  background: white;
  border-radius: 15px;
  padding: 20px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.hr {
  height: 2px;
  box-shadow: 0 7px 8px rgba(10, 6, 6, 0.4);
  margin: 10px 0px;
}


.block h3 {
  padding: 10px;
  margin-left: -30px;
  margin-bottom: 15px;
  color: white;
}

.block.red h3 {
  background-color: #c0392b;
}


.block.yellow h3 {
  background-color: #f39c12;
}

.block.blue h3 {
  background-color: #2980b9;
}

.block img {
  width: 100%;
  margin: 05px 0;
  border-radius: 5px;
}

.block ul {
  list-style: none;
  line-height: 1;
  padding-left: 10px;
  padding-top: 05px;
  
}

.block ul li{
  display: flex;
}


/*................Footer.......................*/


footer {
  background-color: #827562;
  width: 90%;
  color: white;
  padding: 40px 40px;
  height: 180px;
  display: flex;
  align-items: center;
  border-radius: 15px 15px 0px 0px;;
  margin-inline: 5%;
  margin-top: -40px;
  position: absolute;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  margin-right: 10px;
}

.footer-columns div {
  width: 40%;
  margin-top: 0px;

}

footer input,
footer button {
  width: 100%;
  padding: 05px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

.footer-columns h4 {
  margin-right: 10px;
}
footer button {
  background-color: #d0d924;
  color: white;
  font-weight: bold;
  width: 70%;
  margin-right: 10px;
}

footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

.footer-bg {
  background-color: #bec2bf;
  width: 100%;
  height: 140px;
  position: relative;
  margin-top: 60px;
  padding-bottom: 0px;
}